.button{
    background-color:  #001652;
    color: white;
 position:relative;
 left: 30%;

}
.button:hover{
    background-color:  white;
    color: #001652;
}
.input{
    position:relative;
    left: 20%;
    text-align: center;
}