

     <mat-toolbar  class="nav mat-elevation-z4">
      <span style="color: white;"><mat-icon>eco</mat-icon> InfinityIt</span>
      <div class="spacer"></div>
      <div >
      <a  mat-button [routerLink]="['home']" routerLinkActive="active" >Home</a>
      <a   mat-button [routerLink]="['arbres']" [routerLinkActive]="['active']">Trees</a>
      <a mat-button [routerLink]="['about']" [routerLinkActive]="['active']">About</a>
    </div>
    
    </mat-toolbar>
<!-----------end nav------------------->
<br>
<div style="margin-top: 10%;">


<router-outlet></router-outlet>
</div>